In [24]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)
predictions = model.predict([  [21,1], [22,
0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [25]:
import pandas as pd

In [28]:
df = pd.read_csv('games.csv',header=0, encoding='unicode_escape')
df

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [29]:
df.shape

(1034, 9)

In [30]:
df.describe()

,Year,North America,Europe,Japan,Rest of World,Global
count,825.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000
mean,2015.966061,0.204613,0.248714,0.033636,0.089014,0.576054
std,1.298360,0.563471,0.785491,0.108344,0.249410,1.583534
min,2013.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,0.020000,0.000000,0.000000,0.010000,0.060000
75%,2017.000000,0.120000,0.130000,0.030000,0.050000,0.357500
max,2020.000000,6.180000,9.710000,2.170000,3.020000,19.390000

In [31]:
df.values

array([['Grand Theft Auto V', 2014.0, 'Action', ..., 0.6, 3.02, 19.39],
       ['Call of Duty: Black Ops 3', 2015.0, 'Shooter', ..., 0.41, 2.44,
        15.09],
       ['Red Dead Redemption 2', 2018.0, 'Action-Adventure', ..., 0.21,
        2.26, 13.94],
       ...,
       ['The Mummy Demastered', nan, 'Action', ..., 0.0, 0.0, 0.0],
       ['Project Nimbus: Code Mirai', nan, 'Action', ..., 0.0, 0.0, 0.0],
       ['Battle Chef Brigade', nan, 'Action', ..., 0.0, 0.0, 0.0]],
      dtype=object)

In [38]:
import pandas as panda
from sklearn.tree import DecisionTreeClassifier

In [39]:
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [47]:
import pandas as panda
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')
music_data

x=music_data.drop(columns=['genre'])
y=music_data['genre']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)

score = accuracy_score(y_test, predictions)
score

0.75

In [51]:
import pandas as panda
from sklearn.tree import DecisionTreeClassifier
import joblib


music_data = pd.read_csv('music.csv')
x=music_data.drop(columns=['genre'])
y=music_data['genre']


model = DecisionTreeClassifier()
model.fit(x,y)

joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [53]:
import pandas as panda
from sklearn.tree import DecisionTreeClassifier
import joblib

model = joblib.load('music-recommender.joblib')
predictions = model.predict([[21,1]])
predictions

array(['HipHop'], dtype=object)

In [54]:
import pandas as panda
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

music_data = pd.read_csv('music.csv')
x=music_data.drop(columns=['genre'])
y=music_data['genre']

model = DecisionTreeClassifier()
model.fit(x,y)

tree.export_graphviz(model, out_file = 'music-recommender.dot',
                     feature_names =['age','gender'],
                     class_names =sorted(y.unique()),
                     label = 'all',
                     rounded = True,
                     filled =True)